{% extends "basic.html" %}
{% block content %}

<header>
    <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading"><font color="#ffffff"><br><br><br>EYES ON NEIGHBORHOOD STREETS</font></h1>
        </div>
        <br><br>
        <center>
        <div>
          <h2 style = "font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;">
          <div class="panel panel-default" style="width:50%">
            <div class="panel-heading">Enter Your Destination</div>
            <div class="panel-body">
              <form action="/action_page.php">
              <font color="black"> Starting Point <br>
              <input id="start" type="text" color="black" name="start"><br>

              <button type="button" onclick="getLocation()">Get My Location</button>
              <br>
              Ending Point <br>
                </font>
              <input type="text" name="end"><br><br>
                <a class="btn btn-primary">Find Route</a>

            </form>

            </div>
          </div>
        </h2>

        </div>
      </center>

    </div>
  </div>

  <script>
  var x = document.getElementById("start");

  function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      } else {
          x.value = "Geolocation is not supported by this browser.";
      }
  }

  function showPosition(position) {
      x.value = position.coords.latitude + "," + position.coords.longitude;
  }
  </script>

</header>

{% endblock %}
