<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=geometry"></script>
    <script>
      var map;
      function initMap() {
      	var origin = {lat: {{data['origin']['lat']}}, lng: {{data['origin']['lng']}}};
      	var dest = {lat: {{data['destination']['lat']}}, lng: {{data['destination']['lng']}}};
      	var middle = {lat: (origin.lat+dest.lat)/2, lng: (origin.lng+dest.lng)/2};
        var route = new Array({{data['route1']}});
        var route2 = new Array({{data['route2']}});

        var all_camera_pos = [brooklyn, queens, manhattan, staten_island, bronx];
        var all_camera_link = [brooklyn_links, queens_links, manhattan_links, staten_island_links, bronx_links];

        var brooklyn = [];
        var queens = [];
        var manhattan = [];
        var staten_island = [];
        var bronx = [];

        var brooklyn_links = [];
        var queens_links =[];
        var manhattan_links = [];
        var staten_island_links = [];
        var bronx_links = []; 

        var map = new google.maps.Map(document.getElementById('map'), {
          center: middle,
          zoom: 15
        });

        var marker1 = new google.maps.Marker({
        	position: origin,
        	map: map,
        	label: 'A'
        });

        var marker2 = new google.maps.Marker({
        	position: dest,
        	map: map,
        	label: 'B'
        });

        var line = new google.maps.Polyline({
          path: route,
        	geodesic: true,
        	strokeColor: "#FF0000",
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        var line2 = new googl.maps.Polyline({
          path: route2,
          geodesic: true,
          strokeColor: "#FF0000",
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        line.setMap(map);
        line2.setMap(map);

        var dict = get_cameras(line, all_camera_pos, all_camera_link);
        var dict2 = get_cameras(line2, all_camera_pos, all_camera_link);

        if (dict.sum > dict2.sum)  {
          return {
            route: line,
            camera_links: dict.links
          }
        }
        else {
          return {
            route: line2,
            camera_links: dict2.links
          }
        }
      }

      function get_cameras(l,ci, cl) {
        var links = [];
        var sum = 0;

        for (const borough of ci) {
          for (let camera = 0; camera < borough[camera].length; camera++) {
            if (google.maps.geometry.poly.isLocationOnEdge(new google.maps.LatLag(camera.lat,camera.lng), l, 0.001)) {
              sum++;
              links.push(cl[borough][camera]);
            }
          }
        }

        return {
          sum: sum,
          links: links
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrIErnSCAoA07R_m9NqNIQNcuD0Cf3Vn4&callback=initMap"
    async defer></script>
  </body>
</html>
